<div class="cart box_1">
<a href="@Url.Action("XemGioHang","GioHang")">
    <h3>

        @* @ViewBag.TongTien VND (<span>@ViewBag.TongSoLuong</span> sp)*@

        @*<img src="~/Content/images/cart1.png" width="45" height="45" alt="" />*@
    </h3>
</a>
<p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Cart</a></p>

</div>
